#wrapper {
    max-width: 480px;
    margin: auto;
}
#description, #search, #todo-list {
    font-size: 1.5em;
}

.checked {
    text-decoration: line-through;
}

.delete {
    height: 30px;
    width: 50px;
    margin-right: 5px;
}